html {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    background-size: cover;
    width: 100%;
}

.row {
    float: left;
    width: 100%;
}

.col {
    background-size: cover;
    float: left;
}

/* row 1 */
.row1 {
    margin-top: 15%;
}

.row1colempty {
    width: 34.84375%;
    height: 4.403980521%;
}

.row1col {
    width: 30.3125%;
    height: 4.403980521%;
}

/* row 2 */
.row2 {
    margin-top: 25%;
}

.row2colempty {
    width: 11.0546875%;
    height: 1.482108829%;
}

.row2col {
    width: 18.59375%;
    height: 1.482108829%;
}

/* row 3 */
.row3 {
    margin-top: 9%;
}

.row3colempty {
    width: 26.796875%;
    height: 1.270378996%;
}

.row3col {
    width: 9.8046875%;
    height: 1.270378996%;
}

/* social */
.socialrow1 {
    margin-top: 20%;
}

.socialrow2 {
    margin-top: 10%;
}

.socialcolempty {
    width: 29.53125%;
    height: 3.091255558%;
}

.socialcol {
    width: 5.703125%;
    height: 3.091255558%;
}

.socialbottom {
    width: 100%;
    height: 36%;
}
